<body background="/assets/bg2.webp"><pre>
  <div style="text-align: center;">
  
      <h1 align="center"><b><i>Twoway Binding Upper and Lowercase</i></b></h1>
      <select align="center" name="case" id="case" [(ngModel)]="selectlogo"><br>
      
        <option *ngFor="let logo of case" [ngValue]="logo">
          {{logo}}

        </option>
        
      </select>
      <!-- <input #sentence type="text" id="text" name="text" style="width:30%"><br>
      <button (click)="submit(sentence.value)" class="primary" type ="submit">Submit</button>
     <h3> 
      Lowercase: {{sentence1}}
      Uppercase: {{sentence2}}</h3> -->
  </div>
 

<router-outlet></router-outlet>
